@using WebApp.Models
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Staff s in ViewBag.StaffList)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <h2>Types of operations</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (OperationType opType in ViewBag.OperationTypeList)
        {
            <tr>
                <td>@opType.Id</td>
                <td>@opType.Name</td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <h2>Cash boxes</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (CashBox cashBox in ViewBag.CashBoxList)
        {
            <tr>
                <td>@cashBox.Id</td>
                <td>@cashBox.Name</td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <h2>Contracts</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">User Name</th>
            <th scope="col">Date</th>
            <th scope="col">Sum</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Contract contract in ViewBag.ContractsList)
        {
            <tr>
                <td>@contract.Id</td>
                <td>@contract.NameType</td>
                <td>@contract.NameUser</td>
                <td>@contract.CDate</td>
                <td>@contract.Sum</td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <h2>Log book</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Cashbox</th>
            <th scope="col">Contract id</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (LogBook lb in ViewBag.LogBookList)
        {
            <tr>
                <td>@lb.Id</td>
                <td>@lb.NameCashBox</td>
                <td>@lb.IdContract</td>
                <td>@lb.LDate</td>
            </tr>
        }
        </tbody>
    </table>
</div>